.login-form {
  max-width: 360px;

  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;

  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form input {
  width: 100%;

  padding: 8px 16px;

  border: 1px solid #808080;
  border-radius: 4px;
}

.login-form button {
  padding: 8px 16px;

  border-radius: 8px;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;

  letter-spacing: 0.04em;
  color: #fff;

  background: #4e75ff;
  border: none;
}
